In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
comparison_df = pd.read_csv('model_comparison.csv')

In [4]:
comparison_df

,Model,Train MAE,Train RMSE,Validation MAE,Validation RMSE,R2,Train_MAE,Val_MAE,Train_RMSE,Val_RMSE
0,Model 1,33366.620987,47588.821126,34331.889385,49010.433084,NaN,NaN,NaN,NaN,NaN
1,Model 2,23604.571316,36245.825551,23472.656831,36264.409574,NaN,NaN,NaN,NaN,NaN
2,Model 3,21663.030622,34243.914882,21693.955732,34315.454551,NaN,NaN,NaN,NaN,NaN
3,Model 4,NaN,NaN,NaN,NaN,8.420397e-01,21674.186381,2.139558e+04,34055.259913,3.332222e+04
4,Model 5,NaN,NaN,NaN,NaN,8.268917e-01,22851.924665,2.257256e+04,35374.765417,3.488341e+04
5,Model 6,NaN,NaN,NaN,NaN,8.379868e-01,22054.602442,2.177321e+04,34371.595728,3.374700e+04
6,Model 7,NaN,NaN,NaN,NaN,-8.810978e+05,22055.097035,2.177388e+04,34371.596364,3.374795e+04
7,Model 8,NaN,NaN,NaN,NaN,-8.709752e+05,24036.158252,2.177763e+04,37793.682042,3.378521e+04
8,Linear Regression,NaN,NaN,NaN,NaN,-1.585056e+23,14642.822406,1.132837e+15,22869.362333,3.067040e+16
9,Ridge Regression,NaN,NaN,NaN,NaN,-6.613171e-03,59115.910476,5.727649e+04,80734.082759,7.729091e+04
10,RidgeCV Regression,NaN,NaN,NaN,NaN,9.028154e-01,15791.085652,1.561811e+04,25308.508695,2.401574e+04
11,Decision Tree,NaN,NaN,NaN,NaN,7.665682e-01,0.000000,2.391563e+04,0.000000,3.722006e+04
12,XGBoost,NaN,NaN,NaN,NaN,8.955728e-01,9884.642412,1.637279e+04,13242.761300,2.489454e+04
13,CatBoost,NaN,NaN,NaN,NaN,8.615313e-01,11467.671011,1.848040e+04,15828.443752,2.866638e+04
14,Linear Regression,NaN,NaN,NaN,NaN,-1.585056e+23,14642.822406,1.132837e+15,22869.362333,3.067040e+16
15,Ridge Regression,NaN,NaN,NaN,NaN,-6.613171e-03,59115.910476,5.727649e+04,80734.082759,7.729091e+04
16,RidgeCV Regression,NaN,NaN,NaN,NaN,9.028154e-01,15791.085652,1.561811e+04,25308.508695,2.401574e+04
17,Decision Tree,NaN,NaN,NaN,NaN,7.665682e-01,0.000000,2.391563e+04,0.000000,3.722006e+04
18,XGBoost,NaN,NaN,NaN,NaN,8.955728e-01,9884.642412,1.637279e+04,13242.761300,2.489454e+04
19,CatBoost,NaN,NaN,NaN,NaN,8.615313e-01,11467.671011,1.848040e+04,15828.443752,2.866638e+04